.app {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;

	&__header {
		display: flex;
		padding: 20px;
		background-color: rgb(219, 219, 219);

		a:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__main {
		place-self: center;
	}
}
